/*------- ADD YOUR CUSTOM STYLESHEETS TO THIS FILE -------*/
@font-face {
  font-family: "IRANYekan";
  src: url("../fonts/IRANYekanXVF.woff") format("woff-variations"),
      url("../fonts/IRANYekanXVF.woff") format("woff");
  font-weight: 100 1000;
  font-display: fallback;
}
@font-face {
  font-family: "IRANYekan";
  src: url("../fonts/IRANYekanXVF.woff") format("woff-variations"),
      url("../fonts/IRANYekanXVF.woff") format("woff");
  font-weight: 100 1000;
  font-display: fallback;
}
@font-face {
  font-family: "Pinar";
  src: url("../fonts/Pinar-VF.woff2")
}
.fw-400{font-weight:400!important}
body,
p,
a,
ul,
li,
ol,
label,
button,
form,
input,
textarea,
select,
.popover,
.toottip,
.tooltip-inner,
.aws-domains-ltds-price-item small {
  font-family: "IRANYekan", tahoma;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
  direction: rtl ;
  text-align: right;
  letter-spacing: normal!important;
}
.tooltip-inner {
  font-size: 12px;
}
.aws-domains-ltds-price-item small {
  font-weight: 400;
  margin-right: 5px;
  margin-left: unset;
}
h1,
h2 {
  font-weight: 800;
}
h3,
h4,
h5,
h6 {
  font-weight: 750;
}
p {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
.hero-area-emyui-aws-title,
body.aws-html-theme .playfair-display-font,
.emyui-ews-plans-group .emyui-ews-plans-group-price-tag,
.aws-services-box-price .price,
.aws-domains-ltds-price-item{
  font-family: "Pinar", tahoma!important;
  font-feature-settings: "ss10", "ss09";
  font-variation-settings: "DSTY" 2;
}
.aws-services-box-price .price {
  font-weight: 800;
}
.emyui-ews-plans-group .emyui-ews-plans-group-price-tag {
  font-weight: 900;
}
.pl-6, .px-6 {
  padding-right: 1rem!important;
}
.rounded-right-10-0 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.coodiv-abs-cr {
  left: 0;
  right: unset;
}
.lang-box-container .lang-box-item .img-flag.iran{background-position: -170px -444px;}
.lang-box-container .lang-box-item:before {
  right: 0;
  left: unset;
}
.lang-box-container .lang-box-item .img-flag {
  margin-left: 11px;
  margin-right: unset;
}
.lang-box-container .lang-box-item small {
  margin-right: 5px;
  margin-left: unset;
}
.lang-box-title span {
  padding-left: 15px;
  padding-right: unset;
}
.main-menu>li>.nav-link {
  font-size: 14px;
}
.coodiv-text-11 {
  font-size: 16px;
}
.header-with-right-menu .navbar-nav-wrapper {
  margin-left: unset;
  margin-right: auto;
}
.header-with-right-menu > .container-fluid .coodiv-megamenu-dropdown {
  left: unset;
  right: 100%;
  transform: translateX(100%) translateY(10px);
}
@media (min-width: 992px) {
  .nav-item.dropdown:not(.click-to-show-menu):hover
    > .coodiv-megamenu-dropdown.center {
    transform: translateX(100%) translateY(-10px);
  }
  .coodiv-menu-dropdown {
    right: 0;
    left: auto;
  }
  .offset-lg-1 {
    margin-right: 8.33333%;
    margin-left: unset;
  }
  .pr-lg-8, .px-lg-8 {
    padding-left: 1.5625rem!important;
    padding-right: unset!important;
  }
  .mr-lg-7, .mx-lg-7 {
    margin-left: 1.25rem!important;
    margin-right: unset;
  }
  .pl-lg-11, .px-lg-11 {
    padding-right: 2.5rem!important;
    padding-left: unset;
  }
  .pl-lg-12, .px-lg-12 {
    padding-right: 2.8125rem!important;
    padding-left: unset;
  }
  .pr-lg-25, .px-lg-25 {
    padding-left: 7.5rem!important;
    padding-right: unset!important;
  }
  .site-header .container .coodiv-megamenu-dropdown {
    right: 100%;
    left: unset;
    transform: translateX(100%) translateY(0px);
  }
}
a.footer-list-link {
  font-weight: 400;
}
.coodiv-text-9 {
  font-size: 16px;
}
.pr-lg-0,
.px-lg-0 {
  padding-left: 0;
  padding-right: 15px;
}
.pl-lg-0,
.px-lg-0 {
  padding-right: 0;
  padding-left: 15px;
}
.pr-xl-19,
.px-xl-19 {
  padding-left: 5rem;
  padding-right: 0;
}
.mr-8,
.mx-8 {
  margin-left: 1.5625rem;
  margin-right: unset!important;
}
.plan-with-montains:after {
  right: -20px;
  left: unset;
}
.reviews-overview .reviews-stars i {
  padding-right: 6px;
}
.col-lg-4.offset-lg-2.col-md-12.text-lg-right.text-center {
  text-align: left!important;
}
.single-slide-boxes-arrows .slick-arrow,
#dinamic-filter-list li a i {
  transform: rotate(180deg);
}
div#global-network-tabsContent {
  direction: ltr;
}
.card-blog .single-post .single-post-content .single-post-title {
  font-size: 16px;
}
.comparison-box .comparison-box-left-side .comp-title {
  text-align: left;
}
.mr-3,
.mx-3 {
  margin-left: 0.5rem;
  margin-right: 0!important;
}
h5.mb-5.coodiv-text-7 {
  text-align: right;
}
h4.pre-title.coodiv-text-12.text-green.text-uppercase.mb-0 {
  text-align: right;
}
p.coodiv-text-12.coodiv-text-color.font-weight-bold.text-uppercase.mb-4 {
  text-align: center;
}
h3.coodiv-text-12.font-weight-bold.text-uppercase.mb-0 {
  text-align: right;
}
h2.coodiv-text-6.mb-7 {
  text-align: right;
}
p.coodiv-text-9.px-7.mb-0.coodiv-color-white-opacity-9.mb-10 {
  text-align: center;
}
p.coodiv-text-9.mb-0 {
  text-align: center;
}
.with-moon-bg:after {
  left: unset;
  right: 0;
}
.coodiv-text-4 {
  font-size: 30px;
  line-height: 1.3;
}
.domains-box .sold-side-domain i {
  font-size: 14px;
  font-weight: 400;
}
.coodiv-text-3 {
  direction: rtl;
}
.coodiv-text-2 {
  font-size: 38px;
}
p.coodiv-text-12.mb-0 {
  text-align: center;
}
.games-plan .btn-order {
  text-align: center;
}
.voice-plan .btn-order {
  text-align: center;
}
.coodiv-text-3 {
  font-size: 40px;
  line-height: 1.5;
}
.ml-5,
.mx-5 {
  margin-right: 0.65rem;
}
.our-domains-features-box
  .our-domains-features-head
  .our-domains-features-head-element
  .our-domains-features-text
  span:last-child {
  font-size: 13px;
  font-weight: 100;
  display: block;
}

p.coodiv-text-9.mb-0.coodiv-color-white-opacity-9.mb-10 {
  text-align: right;
}
.hero-content.dark-mode-texts.mb-15.mb-lg-10.text-center.text-md-left {
  text-align: right!important;
}
.reviews-overview strong {
  margin-left: 5px;
}
.mr-4,
.mx-4 {
  margin-left: 0.625rem;
}
.text-lg-left {
  text-align: right!important;
}
.number-features-box {
  text-align: center;
}
.ddos-attack-main-text p.coodiv-text-8 {
  text-align: center;
}

.offset-lg-2 {
  margin-right: 16.66667%;
  margin-left: unset;
}
.our-domains-features-box
  .our-domains-features-head
  .our-domains-features-head-element
  .check-elements {
    border-radius: 20px 0 10px 0;
  left: 0;
  right: unset;
}
.our-domains-features-box .our-domains-features-head.element-page .lock-badge {
  left: -18px;
  right: unset;
}
.ml-auto {
  margin-right: auto;
  margin-left: 0!important;
}
.mr-7,
.mx-7 {
  margin-left: 1.25rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 0.5rem;
  padding-right: 0;
}
.breadcrumb-item + .breadcrumb-item {
  padding-right: 0.5rem;
  padding-left: 0;
}
p.coodiv-text-12.coodiv-text-color.font-weight-bold.text-uppercase.mb-2 {
  text-align: center;
}
.mr-6,
.mx-6 {
  margin-left: 1rem;
  margin-right: 0;
}
.single-post.full-img-fluid-post .single-post-content .single-post-title {
  font-weight: bold;
}
p.coodiv-text-11.white-text.font-weight-light {
  text-align: right;
}
.single-block.mb-12.mb-lg-15 p.coodiv-text-9.mb-0 {
  text-align: right;
}
.mr-6,
.mx-6 {
  margin-left: 1rem;
}
.ml-6,
.mx-6 {
  margin-right: 1rem;
}
.mr-2,
.mx-2 {
  margin-left: 0.5rem;
}
i.ml-2.fas.fa-chevron-circle-right.coodiv-text-7 {
  transform: rotate(180deg);
}
.text-left {
  text-align: right!important;
}
.live-support-trigers p.coodiv-text-11.mb-0.mt-1 {
  text-align: center;
}
.pl-xl-20,
.px-xl-20 {
  padding-right: 5.3125rem;
}
.nice-select .option {
  text-align: right;
}
.incident-list:after {
  content: "";
  position: absolute;
  width: 2px;
  top: 45px;
  bottom: 0;
  background: #ebf2f6;
  right: 25px;
}
.pr-0,
.px-0 {
  padding-left: 0!important;
  padding-right: unset!important;
}
.pl-0,
.px-0 {
  padding-right: 0;
}

.single-slide-boxes-slider p.coodiv-text-12.mb-0 {
  text-align: right;
}
.coodiv-text-5 {
  line-height: 1.375;
}
.coodiv-text-6 {
  font-size: 1.3rem;
  line-height: 1.42;
}
.pricing-plan-tree p.coodiv-text-11.mb-0 {
  text-align: center;
}
.list-inline {
  padding-right: 0;
}
.mr-5,
.mx-5 {
  margin-left: 0.75rem!important;
  margin-right: auto!important;
}
span.coodiv-text-11.mb-0.fw-100.d-block.color-blackish-blue-opacity {
  text-align: center;
}
.hero-helf-2-btns .btn:first-child {
  width: 56%;
  margin-left: 3%;
  margin-right: unset;
}
.hero-content.dark-mode-texts.mb-15.mb-lg-5.text-center.text-md-left.pt-10.position-relative.coodiv-z-index-1 {
  text-align: right;
}
.pl-md-0,
.px-md-0 {
  padding-right: 0!important;
}
.pl-lg-15,
.px-lg-15 {
  padding-right: 3.75rem;
}
.dropdown-menu .col-md-4.pl-lg-2 {
  margin-right: -10px;
}
.dropdown-menu .col-md-4.pr-lg-0.mb-3.mb-lg-0 {
  margin-left: 15px;
}
.coodiv-menu-dropdown > .drop-menu-item.suggestion-btn > a {
  padding: 15px 10px 15px 0px;
}
.list-unstyled {
  padding-right: 0;
  list-style: none;
}
.mr-lg-6,
.mx-lg-6 {
  margin-left: 1rem!important;
  margin-right: unset!important;
}
h3.title.coodiv-text-9.mb-2.color-blackish-blue,
.megamenu-ads {
  text-align: right;
}
h5.d-block.py-5.color-blackish-blue.coodiv-text-9.pl-9.mb-0.rounded-top-10.coodiv-bg-gray-2-opacity-visible.border-bottom-3-green {
  text-align: right;
  padding-right: 25px;
}
.coodiv-abs-tr {
  position: absolute;
  top: 0;
  right: 0;
  left: unset;
}
/* salam */
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  margin-bottom: 0;
  list-style: none;
}
@media screen and (max-width: 480px) {
  .pl-lg-15,
  .px-lg-15 {
    padding-right: 1rem;
  }
  header.site-header .navbar-toggler {
    margin-right: auto;
    margin-left: unset;
  }
}
.ddos-attack-package .ddos-first-features {
  margin-top: 15px;
  padding-right: 0;
  padding-top: 10px;
  list-style: none;
}
.ddos-attack-package .ddos-second-features {
  margin-top: 15px;
  padding-right: 0;
  padding-top: 10px;
  list-style: none;
}
.ddos-attack-package .ddos-third-features {
  margin-top: 15px;
  padding-right: 0;
  padding-top: 10px;
  list-style: none;
}
.price-content {
  direction: rtl;
}
.main-features-box.media p.coodiv-text-9.mb-0 {
  text-align: right;
}
.tab-pane.fade .row.justify-content-start {
  flex-direction: row-reverse;
}
.tab-pane .border-right {
  border-left: 1px solid var(--border-color);
  border-right: none;
}
.rounded-20.shadow-custom .pr-15,
.rounded-20.shadow-custom .px-15 {
  padding-left: 3.75rem;
  padding-right: 1.2rem;
}
.cpanel-plan-off {
  font-weight: 400;
}
@media (max-width: 480px) {
  .pb-lg-35,
  .py-lg-35 {
    padding-bottom: 5.625rem;
  }
  .domain-header-search-form .pr-lg-0,
  .domain-header-search-form .px-lg-0 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .domain-header-search-form .pl-lg-0,
  .domain-header-search-form .px-lg-0 {
    padding-right: 15px;
    padding-left: 15px;
  }
  p.color-blackish-blue-opacity.coodiv-text-10.d-lg-flex.align-items-center.justify-content-center {
    text-align: center;
  }
  .col-lg-4.offset-lg-2.col-md-12.text-lg-right.text-center {
    text-align: center;
  }
  .cpanel-plan-off {
    right: 10px;
  }
  .comparison-box .comparison-box-left-side .comp-sub-title {
    margin-right: 23%;
  }
}
.list-inline-item:not(:last-child) {
  margin-right: 0;
}
.nice-select:after {
  right: unset;
  left: 12px;
}
.incident-list.pl-20 {
  padding-right: 5.3125rem;
}
.icon-message-circle:before {
  content: "\e890";
  margin-left: 5px;
  top: 1px;
  position: relative;
}
.icon-chevron-left:before {
  content: "\e844";
}
.pr-lg-11,
.px-lg-11 {
  padding-left: 2.5rem;
  padding-right: 0!important;
}
.mr-lg-15,
.mx-lg-15 {
  margin-left: 3.75rem;
}
.mr-lg-15,
.mx-lg-15 {
  margin-right: 0;
}
.icons-pack-head {
  flex-direction: row-reverse;
}
.px-md-15.text-center p.coodiv-text-8.mb-13 {
  text-align: center;
}
i.feather.icon-arrow-right.font-weight-bold {
  transform: rotate(180deg);
}
.trusted-section .reviews-overview .reviews-stars i {
  padding-right: 1px;
}

.hero-content .coodiv-text-9,
.section-title .coodiv-text-8  {
  text-align: center;
}
.col-lg-6.offset-xl-1.col-xl-5.mt-lg-0.mt-10 .text-lg-right,
.col-lg-6.offset-xl-1.col-xl-5.mt-lg-0.mt-10 .coodiv-text-9 {
  text-align: left!important;
}
.text-center.mb-15 h4.pre-title.coodiv-text-12.text-green.text-uppercase.mb-0 {
  text-align: center;
}
.coodiv-bg-blackish-blue-opacity-opacity-9
  .reviews-overview.text-center
  .reviews-stars
  i {
  padding-right: 1px;
}
.reviews-overview.text-center .coodiv-text-11 {
  text-align: center;
}
.pl-xl-12,
.px-xl-12 {
  padding-right: 2.8125rem;
  padding-left: 0;
}

.feature-box-11 .mr-lg-auto,
.feature-box-11 .mx-lg-auto {
  margin-left: auto!important;
  margin-right: 0!important;
}
.feature-box-11 .pr-lg-7,
.feature-box-11 .px-lg-7 {
  padding-left: 1.25rem;
  padding-right: 0!important;
}
a.d-block.mt-10.coodiv-hover-y {
  text-align: center;
}

.hero-btns.mt-11 .mx-3 {
  margin-right: 1.5rem;
  margin-left: 0!important;
}
.vpn-special-features-box .coodiv-text-9 {
  text-align: center;
}

.transfer-wp-box.mx-auto.ml-lg-0.mr-lg-auto.position-relative.d-block.mb-7 {
  margin-left: auto!important;
  margin-right: 0!important;
}
p.coodiv-text-8.mb-0.coodiv-color-white-opacity-8.mb-10 {
  text-align: center;
}
h3.coodiv-text-3.mr-9 {
  margin-left: 1.875rem;
  padding-right: 0;
}
h2.coodiv-text-4.vpn-version-price-tag {
  font-size: 23px;
}
.how-order-section p.coodiv-text-10.mb-0,
.how-order-section p.coodiv-text-8.mb-0 {
  text-align: center;
}
.wp-plan-features-box.white-bg.shadow-2.rounded-20.pl-0.pr-6.py-2.text-left.coodiv-hover-y.d-flex.justify-content-start.mb-7.mr-auto {
  margin-left: auto;
  margin-right: 0;
}
.wp-plan-features-box.white-bg.shadow-2.rounded-20.pl-lg-6.pr-0.py-2.text-right.coodiv-hover-y.d-flex.justify-content-end.mb-7.ml-auto.mr-9 {
  margin-left: auto;
  margin-right: 0;
}
.left-side .theshape {
  padding-right: 24px;
}
.main-text.coodiv-text-11.fw-bold.color-blackish-blue {
  margin-left: 22px;
}
.steps-to-order-section h2.coodiv-text-4.mb-7.text-center {
  width: 100%;
}
.cenw p.coodiv-text-9.px-7.pl-md-0.pr-md-11.mb-0.color-blackish-blue-opacity {
  text-align: center;
}
p.review-text.mb-0.coodiv-text-10.font-weight-bold.coodiv-text-color {
  text-align: center;
}
.col-10.col-lg-6.col-xl-5.pr-xl-20.order-lg-1.mt-15.mt-lg-0 {
  padding-left: 5.3125rem;
  padding-right: 0;
}
.footer-block p {
  padding-left: 2.1875rem;
  padding-right: unset!important;
}
.content-text.pt-11.pt-lg-0.pl-xl-7.text-lg-left.text-center
  p.coodiv-text-9.mb-0 {
  text-align: right;
}
p.coodiv-text-11.mb-7.mb-lg-11.coodiv-color-blackish-blue-opacity-7.pr-13.pl-13 {
  text-align: center;
}
.main-homepage-item.slick-slide .pl-lg-0,
.main-homepage-item.slick-slide .px-lg-0 {
  padding-left: 0;
  padding-right: 15px;
}
.col-lg-4.col-md-6.col-sm-8.mb-9.pr-lg-0 {
  padding-right: 0;
  padding-left: 15px;
}
.cpanel-plan.side-plan.rounded-left-20 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.review-avatar.mr-7,
.review-avatar.mx-7 {
  margin-left: 1.25rem;
  margin-right: 0!important;
}
@media screen and (max-width: 480px) {
  .social-numbers .mr-lg-15 {
    margin-left: 0;
  }
}
a.cancel-selected-form {
  margin-left: 8px;
}
.network-start-vpn-countries li .img-flag {
  margin-left: 11px;
  margin-right: 0px;
}
p.coodiv-text-9.font-weight-light.text-muted {
  text-align: center;
}
body {
  overflow-x: hidden;
}
div#popuppfirsttime {
  display: none;
}
@media screen and (max-width: 480px) {
  .our-vpn-main-features.pt-11.pb-9.pt-lg-24.pb-lg-24.rounded-25.mx-lg-15.mx-7 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .col-lg-6.offset-xl-1.col-xl-5.mt-lg-0.mt-10 .text-lg-right,
  .col-lg-6.offset-xl-1.col-xl-5.mt-lg-0.mt-10 .coodiv-text-9 {
    text-align: center;
  }
}
.hostings-card-off {
  left: 13px;
  right: unset;
  font-weight: 400;
  font-size: 12px;
}
.card-icon {
  margin-right: unset!important;
  margin-left: 1.25rem!important;
}
.card-texts {
  padding-left: 2.1875rem!important;
  padding-right: unset!important;
}
.hostings-card:before {
  left: -70px;
  right: unset;
}
.hostings-card:hover::before{
  left: -40px;
  right: unset;
}
.coodiv-abs-md-cr {
  left: 0;
  right: unset;
}
.coodiv-menu-dropdown>.drop-menu-item,
.header-btn a {
  font-size: 15px;
}
.coodiv-menu-dropdown .dropdown-toggle::after {
  left: 0;
  right: unset;
}
.coodiv-menu-dropdown>.drop-menu-item .coodiv-menu-dropdown {
  left: auto;
  right: -4%;
}
a.headerphone-number {
  font-weight: 400;
}
.pricing .coodiv-text-3,
.number-features-box .number {
  font-family: "Pinar", tahoma;
  font-feature-settings: "ss10";
  font-weight: 900!important;
  font-size: 48px;
}
.pricing .coodiv-text-11 {
  font-weight: 600!important;
}
.single-fact .title {
  font-weight: 900;
}
.single-fact p,
.our-domains-features-body p,
.number-features-box div p,
.number-features-box {
  text-align: center!important;
}
.ddos-attack-package .ddos-attack-package-head,
.numberbox .sub-text,
.social-numbers a h3 span {
  font-weight: 400;
}
.our-domains-features-box .our-domains-features-head .our-domains-features-head-element .our-domains-features-text span:last-child {
  font-weight: 400;
}
.our-domains-features-head-element-page p {
  font-size: 11px;
}
.content-img img {
  transform: scaleX(-1);
}
#dinamic-filter-list {
  padding-right: 0;
  padding-left: unset;
}
.filter-content-close {
  left: 30px;
  right: unset;
}
#dinamic-filter-input {
  padding-right: 50px;
  padding-left: unset;
}
.dinamic-filter-container .fa-search {
  right: 16px;
  left: unset;
}
.numberbox .title:after {
  right: -10px;
  left: unset;
}
.social-numbers a i {
  padding-left: 0.75rem;
  padding-right: unset;
}
.btn.with-icon i {
  margin-left: unset;
  margin-right: 25px;
}
.live-support-trigger {
  left: 25px;
  right: unset;
}
.live-support-trigger .live-support-welcome {
  left: 40px;
  right: unset;
}
.live-support-trigger:hover .live-support-welcome {
  transform: translateX(22px) translateY(-50%);
}
.live-support-trigger .live-support-welcome:after {
  left: -6px;
  right: unset;
  transform: translateY(-50%) scaleX(-1);
}
#toTop {
  left: 27px;
  right: unset;
}
.lang-box-container .lang-box-item {
  padding-left: 15px;
  padding-right: unset;
}
.excerpt p{
  text-align: center;
}
.header-btn {
  margin-left: auto!important;
  margin-right: 36px!important;
}
.domain-header-search-form .inputdomainsearch {
  border-radius: 0 10px 10px 0;
}
.domain-header-search-form .single-input {
  padding-right: 15px!important;
}
.domain-header-search-form .single-input:last-child {
  padding-left: 15px!important;
  padding-right: 0!important;
}
@media (min-width: 320px) and (max-width: 992px) {
  .offcanvas-active.navbar-expand-lg .navbar-collapse.show {
    right: 0;
    left: unset;
  }
}
.domain-box-sale-header .col:last-child {
  border-radius: 0 0 0 10px;
}
.domain-box-sale-header .col:first-child {
  border-radius: 0 0 10px 0;
}
.domain-box-sale-header .col h5 span {
  margin-left: 6px;
  margin-right: unset;
}
.main-features-box .main-features-box-number {
  left: 30px;
  right: unset;
}
.planet-side:after {
  right: -37px;
  left: unset;
}
.pricing-box-one .box-iconabsolute {
  left: -14px;
  right: unset;
}
.list-style-check li i {
  margin-left: 14px;
  margin-right: unset;
}
.card-list li {
  white-space: nowrap;
}
.content-plan-one .slick-dots {
  left: 40px;
  right: unset;
}
@media (min-width: 1200px) {
  .pl-xl-19, .px-xl-19 {
    padding-right: 5rem!important;
    padding-left: unset!important;
  }
  .pr-xl-13, .px-xl-13 {
    padding-right: unset!important;
    padding-left: 3.125rem!important;
  }
  .pr-xl-15, .px-xl-15 {
    padding-left: 3.75rem!important;
    padding-right: unset!important;
  }
  .offset-xl-2 {
    margin-right: 16.66667%;
    margin-left: unset;
  }
  .pr-xl-6, .px-xl-6 {
    padding-left: 1rem!important;
    padding-right: 0!important;
  }
}
.fancy-animation-block-two:before {
  right: 0;
  left: unset;
}
.fancy-animation-block-two:after {
  left: 0;
  right: unset;
}
.reviews-overview .website-logo {
  margin-left: 10px;
  margin-right: unset;
}
.reviews-overview strong {
  margin-right: 5px;
}
ul.special-helf-box-list li.chacked:before,
ul.special-helf-box-list li.not-chacked:before {
  left: 0;
  right: unset;
}
.dynamic-value:before {
  font-weight: 900;
}
.price-of-plan {
  font-weight: 900!important;
}
.pricing-plan-tree p {
  text-align: center!important;
}
.games-plan .game-title h3,
.voice-plan .plan-title h3 {
  padding-right: 20px;
  padding-left: unset;
}
.games-plan .game-title h2,
.voice-plan .plan-title h2 {
  padding-right: 15px;
  padding-left: unset;
}
.games-plan .game-title h2,
.games-plan .game-title h3,
.voice-plan .plan-title h3,
.voice-plan .plan-title h2,
.list-bill-plan a .title,
.list-bill-plan a .price {
  text-align: right;
}
.games-plan .payment-type-m,
.list-bill-plan a .price i,
.price-of-plan .payment-type-m {
  margin-right: 10px;
  margin-left: unset;
}
.list-bill-plan a {
  padding-right: 60px;
  padding-left: 20px;
}
.list-bill-plan a:before {
  right: 16px;
  left: unset;
}
.list-bill-plan a:after {
  right: 22px;
  left: unset;
}
.list-bill-plan a .title i {
  font-weight: 400;
  margin-right: 5px;
  margin-left: unset;
}
.companies-box .company-logo {
  padding-left: 0.75rem;
  padding-right: unset;
}
.comparison-box .comparison-box-right-side img {
  right: -32px;
  left: unset;
}
.comparison-box .comparison-box-right-side {
  padding: 26px 65px 26px 15px;
}
.comparison-box:before {
  left: -35px;
  right: unset;
  transform: rotate(-20deg);
}
.comparison-box:hover::before{
  left: -55px;
  right: unset;
}
.comparison-box .comparison-box-left-side img {
  left: -33px;
  right: unset;
}
.comparison-box .comparison-box-left-side {
  padding: 26px 15px 26px 65px;
}
.comparison-box .comparison-box-left-side .comp-sub-title {
  margin-right: auto;
  margin-left: unset;
}
.network-map-container .network-country span>small {
  font-weight: 400;
}
.domain-search-button-header {
  padding-right: 0!important;
  left: 0;
  right: unset;
}
.domains-box {
  padding-left: 95px;
  padding-right: unset;
}
.domains-box .sold-side-domain {
  left: 0;
  right: unset;
  border-radius: 10px 0 0 10px;
}
.bg-pattern.pattern-9:before {
  transform: scaleX(-1);
}
.service-card p {
  text-align: center;
}
.hero-area-coodiv.snow-montagne .left-montagne-part {
  left: 20%;
  right: unset;
}
.hero-area-coodiv.snow-montagne .right-montagne-part {
  right: 51%;
  left: unset;
}
.hero-area-coodiv.snow-montagne .illustration-element {
  right: 56%;
  left: unset;
}
.vps-plan-block .vps-plan-area .order-btn-procosint {
  left: 16px;
  right: unset;
}
.site-top-header-navs a {
  font-weight: 400;
}
.site-top-header-navs a.live-chat-top-header-btn {
  margin-right: auto;
  margin-left: unset;
}
.domain-checker-emyui-aws-homepage .input-group-btn {
  left: 0;
  right: unset;
}
.emyui-ews-plans-price small {
  font-weight: 500!important;
}
.emyui-ews-plans-group .emyui-ews-plans-features li {
  font-weight: 400;
}
.emyui-ews-plans-group .emyui-ews-plans-features li i {
  margin-left: 14px;
  margin-right: unset;
}
.client-logos-blocks-title {
  font-size: 24px;
  font-weight: 400;
}
.brand-logo p {
  margin-right: 8px!important;
  margin-left: unset!important;
}
.mini-footer-links a,
.footer-emyui-aws ul.footer-list li a.footer-list-link,
body.coodiv-clouds-theme .aws-meganav-support a {
  font-weight: 400;
}
.dropdown-menu {
  text-align: right;
}
.aws-meganav-list li a {
  font-size: 15px;
}
.coodiv-megamenu-right-items li a {
  font-size: 16px;
}
.coodiv-megamenu-right-items li a i {
  margin-left: 9px;
  margin-right: unset;
}
.aws-services-box-price .currencey {
  font-weight: 200;
  margin-right: unset;
  margin-left: 4px;
}
.aws-services-box-price .currencey.sale {
  margin-right: unset;
  margin-left: 12px;
  font-size: 12px;
}
.how-to-steps-items-group .how-to-steps-item i {
  margin-right: unset;
  margin-left: 20px;
}
.last-call-button p {
  text-align: center;
}
.vpn-space-men-img {
  transform: scaleX(-1);
}
.hero-area-coodiv.vpn-version .t-first {
  right: 4%!important;
}
.reviews-boxes .review-box .review-box-body strong {
  right: 0;
  left: unset;
}
.full-width-review-box-container.reviews-row-1 .review-box:first-child {
  margin-right: -120px!important;
  margin-left: unset!important;
}
.free-trial-section .vpn-space-men-img-section {
  left: 0;
  right: unset;
}
.free-trial-section .vpn-space-men-img-section img {
  transform: scaleX(-1);
}
.footer-with-svg-buttom-illustration {
  right: -50px;
  left: unset;
  transform: scaleX(-1);
}
.box-features-one {
  text-align: right;
}
.servers-compare-table .servers-compare-table-body-item .servers-compare-table-body-item-title {
  font-weight: 700!important;
}
.servers-compare-table .servers-compare-table-body-item .servers-compare-table-body-item-title span {
  margin-right: 12px;
  margin-left: unset;
}
.plan-name {
  font-size: 18px;
}
.plan-name small {
  font-weight: 600;
}
.full-width-review-box-container.reviews-row-2 .review-box:first-child {
  margin-left: unset!important;
}
.earth-bg-into-section {
  right: -200px;
  left: unset;
}
.security-hanging-men-header {
  right: 60%;
  left: unset;
}
.coodiv-abs-tl-custom-2 {
  right: 154px;
  left: unset;
}
.story-features-item.feature_1:after,
.story-features-item.feature_2:after,
.story-features-item.feature_3:after,
.story-features-item.feature_4:after,
.story-features-item.feature_5:after {
  transform: scaleX(-1);
}
.story-features-item.feature_1:after {
  left: -80px;
  right: unset;
}
.story-features-item.feature_2:after {
  left: -45px;
  right: auto;
}
.story-features-item.feature_3:after {
  right: auto;
  left: -80px;
}
.story-features-item.feature_4:after {
  right: auto;
  left: -70px;
}
.story-features-item.feature_5:after {
  right: -90px;
  left: unset;
}
.search-filter-form-button span {
  right: 58px;
  left: uns;
}
.search-filter-form-button i {
  left: auto;
  right: 18px;
}
.hero-navbar-secondery {
  right: 50px;
  left: unset;
}
.hero-navbar-secondery .hero-navbar-secondery-nav li a {
  font-size: 14px;
}
.pricing-plans-special-body li {
  font-size: 14px;
}
.vps-server-tabs-switch a span {
  font-weight: 400;
}
.aws-services-box-tag {
  font-size: 14px;
}
.aws-services-box-price {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .pr-md-11, .px-md-11 {
    padding-left: 2.5rem;
    padding-right: unset!important;
  }
  .pl-md-10, .px-md-10 {
    padding-right: 2.1875rem!important;
    padding-left: unset;
  }
}
.plan-highlight {
  font-size: 13px;
}
.ml-4, .mx-4 {
  margin-right: .625rem!important;
  margin-left: unset;
}
.ml-2, .mx-2 {
  margin-left: unset;
  margin-right: .375rem!important;
}
.aws-services-box-discription ul li {
  font-size: 14px;
}
.preloader .preloader-container span {
  white-space: nowrap;
}
.breadcrumb .breadcrumb-item {
  font-weight: 400;
}
.single-post.full-img-fluid-post .single-post-content {
  padding: 25px 35px 40px 20px;
}
.single-post.full-img-fluid-post .single-post-footer {
  padding: 25px 35px 16px 20px;
}
.category-list-sidebar li a span.badge {
  font-weight: 400;
}
.planet-side-2:after {
  right: -130px;
  left: unset;
}
.questions-reponses-list li:after {
  right: -46px;
  left: unset;
}
.first-style-widget .icon-circle-box {
  margin-left: -15px;
  margin-right: unset;
}
.first-style-widget:hover .icon-circle-box{
  margin-left:-7px;
  margin-right: unset;
}
.checked-button-animation:after {
  content:"افزودن"
}
.hero-area-coodiv .header-hero-backgrounds .header-erath {
  right: -170px;
  left: unset;
}
.login-with-email-informations .btn.logout {
  font-weight:400 ;
}
.workspace-plan-container:before {
  right: -79px;
  left: unset;
}
.bg-wave-box-end-z1 {
  transform: scaleX(-1);
}
.search-form-with-nice-select .nice-select {
  border-radius: 0 20px 20px 0;
}
.incident-item .month-circle {
  right: -87px;
  left: unset;
  font-size: 13px;
}
.plan-progress-bar span {
  right: 0;
  left: unset;
  background: linear-gradient(-90deg,rgba(98,71,225,1) 0,rgba(140,146,244,1) 100%);
}
.plan-progress-bar.color2 span {
  background: linear-gradient(-90deg,#75cc5f 0,#b8eb8c 100%);
}
.plan-progress-bar.color3 span {
  background: linear-gradient(-90deg,#dd4a49 0,#e99872 100%);
}
.player-score-box-container .player-score-box:after {
  right: -1px;
  left: unset;
}
.cta-btn {
  text-align: left!important;
}
.world-map ul li .network-label {
  left: 0;
  font-size: 13px;
}
.signup-slider-right-side {
  right: 0;
  left: unset;
}
.social-login-group .social-login-item img {
  margin-left: 10px;
}