.page-content{
    position: relative;
}
#SMMSpinner {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    background: #f9fafb;
    z-index: 9999;
    padding-top: 10vh;
}
.page-wrapper>.page-content>.container-fluid{
    display: none;
}